html {
    background-image: radial-gradient(circle, #1d1d1d 50%, #303030 70%, #5d5d5d 100%);
    height: 100%;
    margin: 0;
}

body {
    /*background-color: rgba(33, 65, 134, 0.493);*/
    font-family: sans-serif;
    direction: rtl;
    color: white;
    height: 100%;
    margin: 0;
    transition: 2s ease-in;
}

#calamity {
    height: 42vh;
    padding-bottom: 6vh;
}

#preGameWait {
    height: 100%;
}

#categSelect {
    height: 100%;
    animation-name: breathCategSelect;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.categBtn {
    display: block;
    width: 31vw;
    height: 18vh;
    border-radius: 91px;
    font-size: 4vh;
    margin-bottom: 5vh;
    background-color: orange;
    border-color: orange;
    border-style: groove;
    box-shadow: 0px 16px #1a191999;
}

#leaderboardsView {
    height: 100%;
    background-color: rgb(34, 34, 34);
}

.placeBtn {
    display: block;
    width: 31vw;
    height: 12vh;
    border-radius: 91px;
    font-size: 4vh;
    margin-bottom: 5vh;
    border-style: groove;
    box-shadow: 0px 16px #1a191999;
}

.aBtn {
    width: 50vw;
    margin: 0.8vw;
    white-space: normal;
    font-size: 4vh;
    display: block;
    margin-bottom: 10vh;
}

#tTimer {
    position: absolute;
    padding-right: 4vw;
    font-size: 3vw;
    padding-top: 3vh;
}

#qText {
    font-size: 5.5vh;
    margin-bottom: 5vh;
    display: block;
    margin-top: 1vh;
}

#qCateg {
    padding-top: 6vh;
    display: block;
    font-size: 3.8vh;
    color: gray;
}

h1 {
    font-size: 5vh;
    margin: 0;
    padding: 6vh;
}

h2 {
    font-size: 3vh;
}

.rainbow {
    animation: colorRotate 25s linear 0s infinite;
}

.correct {
    color: #4ff54f;
}

.wrong {
    color: #ee4141;
}

@keyframes colorRotate {
    from {
        background-color: rgb(192, 2, 2);
    }
    16.6% {
        background-color: rgb(137, 0, 179);
    }
    33.3% {
        background-color: rgb(19, 44, 185);
    }
    50% {
        background-color: rgb(48, 199, 199);
    }
    66.6% {
        background-color: rgb(22, 182, 22);
    }
    83.3% {
        background-color: rgb(194, 194, 37);
    }
    to {
        background-color: rgb(192, 2, 2);
    }
}

@keyframes breathClassic {
    from {
        background-color: rgba(0, 73, 144, 0.6);
    }
    to {
        background-color: rgba(0, 42, 144, 0.6);
    }
}

@keyframes breathCateg {
    from {
        background-color: rgba(144, 86, 0, 0.6);
    }
    to {
        background-color: rgba(144, 132, 0, 0.6);
    }
}

@keyframes breathPers {
    from {
        background-color: rgba(49, 0, 144, 0.6);
    }
    to {
        background-color: rgba(80, 0, 144, 0.6);
    }
}

@keyframes breathCategSelect {
    from {
        background-color: rgb(177, 177, 177);
    }
    to {
        background-color: rgb(218, 218, 218);
    }
}

.classicBG {
    animation-name: breathClassic;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.categBG {
    animation-name: breathCateg;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.persBG {
    animation-name: breathPers;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}